<link rel="stylesheet" href="../css/swiper-bundle.min.css">
<link rel="stylesheet" href="../css/banner.css">

<div class="swiper-container" >
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="img/banner.png" alt="foto1"></div>
    <div class="swiper-slide"><img src="img/banner2.png" alt="foto1"></div>
    <div class="swiper-slide"><img src="img/banner3.png" alt="foto1"></div>
    <!-- Adicione mais slides conforme necessário -->
  </div>
  <!-- Adicione os botões de navegação, se desejar -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
